<div class="center">
  <div class="board">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>

    <div class="li">
      <div class="list" *ngFor="let item of numbersList; index as i">
        <ul class="ul">
          <li class="numbers">{{ i }}</li>
        </ul>
      </div>
    </div>

    <button [disabled]="largeButton" class="box" (click)="secondButton()">
      <div *ngFor="let events of eventList; index as i">
        <button
          class="axis"
          cdkDragBoundary=".box"
          cdkDragLockAxis="y"
          cdkDrag
          (click)="firstButton(i)"
        >
          {{ events }} {{ i + 1 }}
        </button>
      </div>
    </button>

    <!-- Edit or Delete -->
    <div *ngFor="let events of eventList; index as i">
      <div *ngIf="close" class="modal">
        <span>
          <button class="x" (click)="closeEvent()">✖</button>
          <h1 #event>{{ events }}</h1>
          <h2></h2>

          <input
            type="text"
            #eventplus
            class="eventmodal"
            placeholder="Rename event"
          />

          <button class="btn" (click)="editEvent(eventplus)">Edit</button>
          <button class="btn" (click)="deleteEvent(eventplus)">
            Delete Event
          </button>
        </span>
      </div>
    </div>
    <!-- Create Event -->
    <div *ngIf="open" class="modal">
      <span
        ><button class="x" (click)="open = !open">✖</button>
        <input type="text" #event class="eventmodal" placeholder="Event Name" />

        <button class="btn" (click)="createEvent(event)">
          Create Event
        </button></span
      >
    </div>
    <!-- Select Date -->
    <div *ngIf="!selected" class="modal">
      <h1>Please selected Date!!!</h1>
    </div>
  </div>
</div>
