* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  box-sizing: border-box;
}
.board {
  display: flex;
  flex-wrap: wrap;
}
.box {
  margin-left: 5px;
  background-color: #424242;
  width: 1000px;
  margin-top: 13px;
  height: 840px;
}
.axis {
  background-color: aliceblue;
  width: 100%;
  height: 30px;
}
.modal {
  position: absolute;
  display: flex;
  background-color: #7b1fa2;
  top: 30%;
  left: 35%;
  width: 500px;
  height: 400px;
  justify-content: center;
  border: 3px solid black;
}
.eventmodal {
  width: 80%;
  height: 15%;
  font-size: 25px;
  margin-top: 50px;
  margin-left: 20px;
}
.btn {
  width: 20%;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 25px;
  background-color: white;
  width: 200px;
}
.x {
  font-size: 25px;
  background-color: white;
  float: right;
}
h1 {
  margin-left: 15px;
  background-color: white;
  color: white;
  background-color: #7b1fa2;
}
.list {
  margin-left: 40px;
  background-color: black;
  color: white;
  justify-content: center;
}
.example-form {
  min-width: 150px;
}

.example-full-width {
  width: 150px;
}
.mat-card {
  height: 250px;
}
